*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
    --base-color: #3F4245;
    --accent-color: #F64134;
}

body{
    max-height: 100vh;
    width: 100%;
    color: whitesmoke;
       
}

.container-app{
    display: grid;
    border: 15px solid var(--base-color);
    grid-template-columns: 300px auto;
    min-height: 100vh;
    color: whitesmoke;

}

.container-left{
    background-color: antiquewhite;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: var(--base-color);
    color: whitesmoke;
    
}

.wrapper-current-city {
    display: grid;
    grid-template-rows: auto 20%;
    justify-content: center;
    padding-top: 30px;



}
.container-current-city p{
    display: block;
    text-align: center;
    padding-top: 35%;
}

.content{
    all: unset;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.link{
    text-decoration: none;
    color: whitesmoke;
    transition: 0.5s ease;
    
}

.link:hover{
    background-color: var(--accent-color);
    
}

.container-video{
    width: 100%;
    height: 100%;
    position: relative;
        
}

.container-video #css-city{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: fill;
}

button{
    all: unset;
    padding: 15px;
    font-size: 15px;
    margin-top: 10px;
    background-color: var(--base-color);
    cursor: pointer;
    transition: 0.3s ease;
    }

button:hover{
    background-color: var(--accent-color);
}
   
.conteiner-weather{
    position: relative;
    display: grid;
    grid-template-rows: 50% auto;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}
.forecast{
    position: relative;
    display: flex;
    gap: 20px;
    
}

.forecast-detail{
    border: 2px solid var(--base-color);
    border-radius: 10px;
    padding: 20px;
    gap: 10px;
    width: 275px;
     background-color: rgb(from var(--base-color) r g b / 50%);
    color: whitesmoke;      
}
    
.forecast-detail p{
    margin: 10px;
}

.background{
    position: absolute; 
    z-index: -99;
    width: 82.75%; 
    height:97%; 
    object-fit: fill;
}

.content1{
    position: absolute;
    display: block;
    padding: 20% 25%;
    
   
}
.content2{
    position: absolute;
    top: 15px;
    left: 315px;
    width: 80%; 
    height:97%;   
    
   
}

input{
    padding: 10px;
}

input:focus{
    outline: none;
    border-color: var(--accent-color);
     
}

input:hover{
    outline: none;
    border-color: var(--accent-color);
    transition: 0.3s ease;
}

.autocomplete{
    display: inline-block; 
    position: relative;
    
}

.autocomplete-wrapper{
    position: absolute;
    
}

.autocomplete ul{
    border: 1px solid var(--base-color);
    border-top: none;
    list-style: none;
    color: #3F4245;
    max-height: 200px;
    overflow-y: auto;
    
}

.autocomplete-wrapper li{
    width: 250px;
    padding: 5px;
    font-size: 14px;
    background-color: white;
    transition: 0.3s ease;
}

.autocomplete-wrapper a{
    text-decoration: none;
    cursor: pointer;
    color: var(--base-color);
    transition: 0.3s ease;
    
}

.autocomplete-wrapper a:hover li:hover {
    background-color: var(--accent-color);
    color: whitesmoke;
    
}

.hide-scrollbar::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, and Opera */
}
